.mainHeader{
	/*background-color:blue;*/
	height: 40vh;
    min-height: 400px;
    max-height: 600px;
    padding: 0 0;
    overflow: hidden;
    /*margin-top: 35px;*/
    top: -20px;
    position: relative;
    box-shadow: 0px 5px 10px 0px rgba(5,5,5,0.23);
        -moz-box-shadow: 0px 5px 10px 0px rgba(5,5,5,0.23);
        -webkit-box-shadow: 0px 5px 10px 0px rgba(5,5,5,0.23);
    img{
    	height:auto;
    	width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .logo{
        /*display: inline-block;
        float: left;
        height: ;*/
        font-family: $font-stack-dancing;
        position: absolute;
        width: 100%;
        bottom: 0;
        text-align: center;
        color: white;
        h1{
            font-size: 100px;
            text-shadow: 1px 1px 8px rgb(0, 0, 0);
        }
    }

}