.mainHeader{
	/*background-color:blue;*/
	height: 40vh;
    min-height: 400px;
    max-height: 600px;
    padding: 0 0;
    overflow: hidden;
    /*margin-top: 35px;*/
    top: 0;
    position: absolute;
    img{
    	height:auto;
    	width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .logo{
        /*display: inline-block;
        float: left;
        height: ;*/
        font-family: $font-stack-dancing;
        position: absolute;
        width: 100%;
        bottom: 0;
        text-align: center;
        color: white;
        h1{
            font-size: 100px;
            text-shadow: 1px 1px 8px rgb(0, 0, 0);
        }
    }
/*    .inner_topic{
    	position: absolute;
    	top: 120;
	    bottom: 0;
	    left: 50;
	    right: 0;
	    padding-top: 30px;

    	h1{
    		line-height: 1.25;
    		letter-spacing: 2.5;
    	}
    	h4{
    		letter-spacing: 6;
    		margin-top: 20px;
    	}
    }
    .inner_topic_button{
    	position: absolute;
	    top: 325;
	    bottom: 0;
	    left: 50;
	    right: 0;
	    button{
	    	height: 35px;
		    border-radius: 5px;
		    width: 150px;
	    }
    }*/
}