.store{
	font-family: $font-stack-open;
	position: relative;
    top: 150px;
    .itemDiv{

    	.productDiv{
	    	box-shadow: 0px 5px 44px -20px rgba(0, 0, 0, 0.51);
	    	padding: 20px;

	    	img{
		    	height: auto;
		    	width: 100%;
	    		
	    	}
    	}
	}
    
}

.text-info{
	font-family: $font-stack-open;
}
table{
	font-family: $font-stack-open;
}