.store{
	font-family: $font-stack-open;
	position: relative;

	.bodyHeader{
		background-color: #eee;
		padding-top: 20px;
		position: relative;

		.headerTitle{
			font-size: 32px;
		}
		.headerItemCount{
			position: relative;
		    top: 18px;
		    left: 0;
		    text-align: right;
		}
		.headerSearch{
			position: relative;
		    top: 15px;
		    left: 0;
		    text-align: right;
		    input{
		    	width:75%;
		    }
		}
	}
    .itemDiv{

    	.productDiv{
	    	/*box-shadow: 0px 5px 44px -20px rgba(0, 0, 0, 0.51);*/
	    	box-shadow: 1px 14px 64px -20px rgba(0, 0, 0, 0.21);
	    	padding: 20px 10px;
	    	margin-bottom: 20px;
    		margin-top: 10px;

	    	img{
		    	height: auto;
		    	width: 100%;
	    	}
	    	.product_name{
	    		text-align: center;
	    		a{
	    			text-decoration: none;
	    			color: #000;
	    		&:hover{
	    			color: #505050;
	    		}
	    		}
	    	}
    	}
	}
    
}

.text-info{
	font-family: $font-stack-open;
}
table{
	font-family: $font-stack-open;
}