<main-nav-bar></main-nav-bar>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 aboutDiv">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 letter">
			<p>Hello there! I am Eva, and I would like to welcome you to <i>Remember Me Studios</i>. It is a wonderful place of expression for me, and I am anxious to share each room of my shop and blog with you. </p>
			<p>I am a married, mother of 6 grown children and an artist who loves to pour out my heart through many avenues. While my children were growing up, I loved decorating my home for holidays and birthday parties. Although my creative outlet was within my own home, as I cared for my family, it was the perfect atmosphere in which to continue to grow. Making handmade gifts for most occasions taught me the value of using raw materials and preserved my budget. </p>  

			<p> My love for celebrations quickly spilled over into documenting those events and developed into a love for photography, scrapbooking, and accessorizing everything from tables, cakes, and even myself! I wanted to remember it all, so The Remember Me Studio was born. I am happy to be in this space, creating for myself and others and, hopefully, inspiring you to make your own memories.</p>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 sigDiv">
				<p class="signature">Eva Stockett</p>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 "><img src="./data/images/about/eva.jpeg"></div>
		</div>
		</div>
</div>