<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navMenu navMenu_desktop">
	<div class="navMenu_logo">
		<a href="#">
			<!-- <img src=""> -->
			<h1>Remember Me</h1>
		</a>
	</div>
	<nav class="pull-right">
	<!-- 	<ul class="navMenu_gender">
			<li class="active"><a href="#men">Men</a></li>
			<li><a href="#women">Women</a></li>
		</ul> -->
		<ul class="navMenu_categories">
			<li><a href="">Home</a></li>
			<li><a href="#blog">Blog</a></li>
			<li><a href="">Shop</a></li>
			<li><a href="">About</a></li>
		</ul>

	</nav>
	<!-- <nav class="pull-right">
		<ul class="navMenu_options">
			<li><a href="">Log In/Sign Up</a></li>
			<li><a href="">Cart</a></li>
		</ul>
	</nav> -->
</div>